body {
    background-color: rgb(177, 178, 235);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: skyblue;
}

.header img {
    width: 100%;
    height: auto;
}

.header h1 {
    font-size: 2.5em;
    color: whitesmoke;
}

.header h2 {
    font-size: 1.2em;
    color: #2c3e50;
}

.introduction {
    text-align: center;
    padding: 20px;
}

.introduction p {
    font-size: 1em;
    color: #2c3e50;
    max-width: 800px;
    margin: 0 auto;
}

.portfolio {
    text-align: center;
    padding: 20px;
}

.portfolio h2 {
    font-size: 2em;
    color: whitesmoke;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.project h3 {
    font-size: 1.5em;
    color: #2c3e50;
}

.project p {
    font-size: 1em;
    color: #2c3e50;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: darkslategray;
    text-decoration: none;
    border-radius: 5px;
}

.project a:hover {
    background-color: #2980b9;
}

.break {
    background-color: rgb(177, 178, 235);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.break h1 {
    color: #021014;
    font-size: 24px;
    margin-bottom: 20px;
}

.break input,
.break label {
    color: darkslategray
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-bottom: 20px;
}

.poem-title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    color: #021014;
}

.poem {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: black;
}

.buttons {
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button {
    background-color: #ffcc00;
}

.make-button {
    background-color: #0000ff;
    color: white;
}

.powered-by {
    font-size: 14px;
}

.container,
.container p {
    text-align: center;
    color: darkslategray;
}

.container h2 {
    color: #2c3e50;
}

.container h3 {
    color: white;
}

footer {
    text-align: center;
    color: #2c3e50;
}

@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
}